form > div,
form > div > div {
	display: grid;
	gap: 1rem;
	width: 100%;
	grid-auto-rows: min-content;
}

form {
	display: grid;
	width: 100%;
	grid-template-columns: 26rem 1fr;
}

form > div:nth-child(2) {
	padding: 2rem;
}

form > div:first-child {
	background: rgb(240, 240, 240);
	min-height: 100vh;
}

form > div:first-child > div {
	position: sticky;
	top: 0;
	padding: 2rem;
}

input {
	width: 100%;
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	border-color: lightgray;
	border-style: solid;
	font-size: 1rem;
}

input::placeholder {
	color: lightgray;
}

label > input {
	margin-top: 0.25rem;
}

/* Should be able to use `:has` by the end of 2022 */
/*, label:has(> input[type='checkbox']) */
/* label.checkbox  {
	display: inline-flex;
} */

input[type='checkbox'] {
	width: unset;
	display: inline;
	transform: translateY(0.1rem);
	margin-left: 1rem;
}

h2 {
	font-size: 1.25rem;
	margin-top: 2rem;
	color: gray;
}

h2:first-child {
	margin-top: 0;
}

h1 {
	font-size: 1.25rem;
}

hr {
	border: none;
	border-bottom: 2pt solid rgb(211, 211, 211);
	width: 100%;
}

th {
	text-align: left;
}

td,
th {
	padding: 0.5rem 0;
}

td > button {
	width: 100%;
}

button {
	border: none;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	background-color: rgb(0, 119, 255);
	color: white;
	font-weight: bold;
}

button:hover {
	background-color: rgb(70, 156, 253);
	cursor: pointer;
}

p {
	line-height: 1.5;
	font-size: 0.875rem;
	max-width: 30rem;
	/* text-align: justify; */
}
